.product {
  position: relative;
  width: 280px;
  height: 540px;
  &__info {
    width: 100%;
    margin-top: 2px;
    h1 {
      font-size: 15px;
      font-weight: normal;
      color: #222;
    }
    span {
      color: $reddish-color;
      font-weight: 600;
    }
  }
  &__colors {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5px;
    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: $shadow-1;
      cursor: pointer;
      outline-offset: 2px;
      &:hover {
        outline: 1px solid #000;
      }
    }
    &:active {
      outline: 1px solid #000;
    }
    span {
      width: 21px;
      height: 21px;
      border-radius: 50%;
      box-shadow: $shadow-1;
      overflow: hidden;
    }
  }
  &__discount {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;
    background: $yellow-color;
    color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 15px;
    font-weight: 600;
  }
}
.swiper {
  position: relative;
  background: #fff;
  cursor: pointer;
  img {
    height: 390px;
    display: block;
  }
}