.main {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr; */
  grid-template-columns: 23% 57% 20%;
  gap: 10px;
  grid-template-areas: 
    'menu header header'
    'menu swiper user'
    'menu offers user';
  @media (max-width: 1232px) {
    grid-template-columns: 26% 3fr;
  }
  @media (max-width: 1030px) {
    grid-template-columns: 60px 3fr;
    // 375 7875%; 75 1575 15 315  3 63
  }
  @media (max-width: 730px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'menu'
    'swiper'
    'offers';

    .menu {
      width: 100% !important;
      min-height: fit-content !important;
      &__list {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
        gap: 1.4rem;
        padding: 0 1rem;
        height: fit-content !important;

        li {
          transform: translateY(-20px);
        }
      }
    }
  }
  .header {
    grid-area: header;
    height: 40px;
    display: flex;
    align-items: center;
    @media (max-width: 730px) {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 19px;
        color: $blue-color;
      }
    }
  }
  .menu {
    grid-area: menu;
    // height: 640px;
    min-height: 640px;
    background: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
    @media (max-width: 1030px) {
      width: 60px;
      svg {
        transform: scale(1.8);
      }
    }
    &__header {
      width: 100%;
      height: 35px;
      background: $grey-color;
      border-bottom: 3px solid $grey-color;
      box-shadow: $shadow-2;
      svg {
        height: 23px;
        width: 23px;
      }
      @media (max-width: 1030px) {
       svg,
       b {
        display: none;
       }
      }
    }
    &__list {
      margin-top: 3px;
    }
    ul {
      li {
        height: 35px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          background: $grey-color;
        }
        a {
          display: flex;
          gap: 10px;
          padding: 0 5px 0 10px;
          align-items: center;
          word-wrap: wrap;
          color: #424141;
          height: 100%;
          @media (max-width: 1030px) {
            padding: 0;
            margin: 0 auto;
          }
          svg {
            fill: #8c8484;
            stroke: #8c8484;
          }
          span {
            @media (max-width: 1030px) {
              display: none;
            }
          }
        }
      }
    }
  }
  .swiper {
    grid-area: swiper;
    height: 280px;
    background: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
  }
  .offers {
    // 1082 - 1232
    grid-area: offers;
    min-height: 240px;
    background: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('../../../public//images//flash.webp');
    background-size: cover;
    background-position: -220px -95px;
  }
  .user {
    grid-area: user;
    position: relative;
    height: 590px;
    background: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
    @media (max-width: 1232px) {
      display: none;
    }
    /* &__header {
      position: absolute;
      top: 0;
    } */
    &__container {
      padding: 1rem;
    }
    &__info {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        box-shadow: $shadow-1;
      }
      h4 {
        margin-top: 10px;
        text-transform: capitalize;
        text-align: center;
        line-height: 1.5;
      }
      &_btns {
        margin: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          width: 94px;
          height: 35px;
          border-radius: 5px;
          cursor: pointer;
          font-weight: 600;
          &:first-of-type {
            background: linear-gradient($blue-color, #0000ff34);
            color: #fff;
          }
          &:last-of-type {
            color: #555;
          }
        }
      }
    }
    &__link {
      padding-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      // flex-wrap: wrap;
      li {
        width: 40px;
        height: 40px;
        background: $grey-color;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.2s;
        svg {
          width: 30px;
          height: 30px;
          stroke: $blue-color;
          transform: translateY(12%);
        }
        &:hover {
          background: $blue-color;
          svg {
            stroke: #fff;
          }
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
          svg {
            fill: $blue-color;
          }
          &:hover {
            svg {
              fill: #fff;
            }
          }
        }
        &:nth-of-type(4) {
          svg {
            padding-top: 4px;
          }
         }
      }
    }
    &__footer {
      position: absolute;
      bottom: 0;
      transform: rotate(180deg);
    }
    &__swiper {
      max-width: 180px;
      margin: 2rem auto 0;
    }
  }
}
