.swiper {
  display: flex;
  flex-direction: column;
  @media (min-width: 500px) {
    flex-direction: row-reverse;
    justify-self: flex-start;
    gap: 10px;
  }
  @media (min-width: 800px) {
    flex-direction: column;
  }
  @media (min-width: 1000px) {
    flex-direction: row-reverse;
    justify-self: flex-start;
    gap: 10px;
  }
  &__list {
    display: flex;
    gap: 10px;
    margin-top: 7px;
    height: 130px;
    max-width: 500px;
    img {
      width: 100px;
      height: 130px;
      object-fit: cover;
      cursor: pointer;
    }
    @media (min-width: 500px) {
      flex-direction: column;
      height: 100%;
      margin-top: 0;
      img {
        width: 100px;
      }
    }
    /* @media (min-width: 800px) {
      flex-direction: column;
      height: 100%;
      margin-top: 0;
      img {
        width: 100px;
      }
    } */
    @media (min-width: 800px) {
      flex-direction: row;
      gap: 10px;
      margin-top: 7px;
      height: 130px;
      max-width: 500px;
      img {
        width: 100px;
        height: 130px;
        object-fit: cover;
        cursor: pointer;
      }
    }
    @media (min-width: 1000px) {
      flex-direction: column;
      height: 100%;
      margin-top: 0;
      img {
        width: 100px;
      }
    }
  }
  &__active {
    z-index: 99;
  }
}
.active {
  outline: 1px solid #000;
  outline-offset: 2px;
}