$blue-color: #2f82ff;
$grey-color: #f8f8f8;
$success-color: #6cc070;
$light-error-color: #fd010169;
$error-color: #ed4337;
$yellow-color: #fac80f;
$violet-color: #5a31f4;
$reddish-color: #f15f6f;
$shadow-1: rgba(99,99,99,.2) 0px 2px 8px 0px;
$shadow-2: rgba(99,99,99,.1) 0px 0px 4px 0px;
.container { 
  max-width: 1220px;
  margin: 0 auto;
  padding: 1rem;
}
.btn_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $blue-color;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}
.btn_outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: $blue-color;
  background: $grey-color;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.error {
  color: $error-color;
  padding: 10px;
}
.success {
  color: $success-color;
  padding: 10px;
}

//-----------SwiperJS------------
// SwiperJS
.swiper {
  width: 100%;
  height: 100%;
  // custom styles
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: flex !important;
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// .swiper {
//   margin-left: auto;
//   margin-right: auto;
// }

.mainSwiper,
.offersSwiper,
.userMenuSwiper,
.flashDealsSwiper {
  .swiper {
    border-radius: 10px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100% !important;
    object-fit: cover !important;
    box-shadow: $shadow-1;
    // border-radius: 10px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(0.5) !important;
    color: #fff !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: #6666664e !important;
    display: none !important;
  }
  .swiper-button-prev {
    left: -13px !important;
  }
  
  .swiper-button-next {
    right: -13px !important;
  }
  
  .swiper-pagination-bullet {
    background: #fff !important;
  }  
}

.offersSwiper {
  max-width: 60%;
  transform: translateX(30%);
  @media (max-width: 1000px) {
    transform: translateX(1%);
    max-width: 90%;
  }
  .swiper-slide {
    width: 120px!important;
    height: 90%;
    margin-top: 0.6rem;
    box-shadow: $shadow-1;
    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }
  span {
    color: #fff;
    &:first-of-type {
      position: absolute;
      bottom: 15px;
      width: 90px;
      height: 25px;
      border-radius: 50px;
      font-size: 16px;
      font-weight: 600;
      background: $yellow-color;
    }
    &:last-of-type {
      position: absolute;
      top: -0.5px;
      right: -0.5px;
      font-style: italic;
      height: 40px;
      width: 40px;
      background: $reddish-color;
      border-bottom-left-radius: 50%;
      display: grid;
      place-items: center;
      font-size: 16;
      font-weight: 600;
      box-shadow: $shadow-1;
    }
  }
  .swiper-pagination-bullet {
    display: none;
  }
  .swiper-slide a {
    width: 100%;
    height: 100%;
  }
}
.userMenuSwiper {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }    
}
.flashDealsSwiper {
  /* .swiper-slide {
    img {
      border-radius: 0 !important;
      height: 320px !important;
    }
  } */
  .swiper-button-prev,
  .swiper-button-next {
    top: 34%;
  }
  @media (max-width:450px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid !important;
  }
  }
}
.productsSwiper {
  .swiper-button-prev,
  .swiper-button-next {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #666;
    box-shadow: $shadow-1;
    &::after {
      transform: scale(1.2);
    }
  }
}